body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 200px;
    background-color: rgb(6,57,112);
}
.grid{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 255, 228);
    div{
        height: 20px;
        width: 20px;
    }
}
.info{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.scoreDisplay{
    font-size: 20px;
}
.snake{
    background-color: blue;
}
.snake_head{
    background-color: greenyellow;
}
.apple{
    background-color: red;
}
#timer{
    height: 50px;
    width: 100px;
    font-size: 20px;
}
.ControlButton{
    height: 50px;
    width: 50px;
    background-color: yellow;
    box-shadow: 2px 2px 2px 2px gray;
    border: 0.5px solid gray;
}
@mixin button($grid-column, $grid-row){
    grid-column: $grid-column;
    grid-row: $grid-row;
}
.top{
    @include button(2, 1)
}
.bottom{
    @include button(2, 3)
}
.left{
    @include button(1, 2)
}
.right{
    @include button(3, 2)
}
.button{
    margin-top: 50px;
    width: 150px;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}